<div class="container center">
  <div class="google-card justify-between">
    <!-- LADO ESQUERDO -->
    <div class="left">
      <div class="logo">
        <img src="assets/logo.svg" alt="Google">
      </div>
      <h1 class="">Criar sua Conta do Google</h1>

      <app-cadastrar></app-cadastrar>
    </div>
    
    <!-- LADO DIREITO -->
    <div class="right">
      <div class="teste">
        <div class="privacy">
          <img src="assets/image1.svg" alt="Google">
        </div>
        <div class="subtitle text-center">
          Uma única conta. Todo o Google<br>trabalhando para você.
        </div>
      </div>
    </div>
  </div>
</div>